---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

.container-fluid {
    padding: 0px !important;
     width: auto !important; 
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px !important;
}
